

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

header nav a,
header nav button {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border: none;
  background: none;
  cursor: pointer;
}

header nav button:hover,
header nav a:hover {
  background-color: #555;
}

main {
  max-width: 800px;
  margin: 2em auto;
  padding: 0 1em;
}

footer {
  text-align: center;
  padding: 1em 0;
  background-color: #333;
  color: #fff;
}


h1 {
  text-align: center;
  color: #333;
}

#postsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.post {
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  word-wrap: break-word; 
  overflow: hidden;
  white-space: normal;   
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.post img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.post-content {
  flex: 1;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal;
}

.post p {
  margin: 0 0 0.5em;
  color: #555;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
}